@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

/* global */
#alert {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 30px;
  background-color: #222;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  color: white;
}
#alert p {
  line-height: normal;
  margin: 0 !important;
}
button {
  font-family: "Montserrat", sans-serif;
}

#AppLoading {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* login Page */

body {
  background: #f9f2f2;
  font-family: "Montserrat", sans-serif;
}
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  margin: -20px 0 50px;
  position: relative;
}

#login h1 {
  font-weight: bold;
  margin: 0;
}

#login h2 {
  text-align: center;
  color: black;
}

#login p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

#login span {
  font-size: 12px;
}

#login a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

#login button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

#login button:active {
  transform: scale(0.95);
}

#login button:focus {
  outline: none;
}

#login button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
#login form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

#login input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#login .errorMsg {
  margin-bottom: 10px;
  align-self: flex-end;
  font-size: 0.6rem;
  color: rgba(233, 30, 30, 1);
  font-size: 500;
  margin: 0;
  margin-bottom: 10px;
}

#login .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

#login .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

#login .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
#login #sign-in {
  cursor: pointer;
}

#login .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

#login .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

#login .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

#login #google {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1849b3;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 8px 60px;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
#login #google:hover {
  box-shadow: 0 0 2px #676767;
}
#login #google .icon {
  transform: translateX(-10px);
  font-size: 1.3rem;
}

#login .social-container {
  margin: 20px 0;
}

#google:hover {
  color: #cd201f;
}
#facebook:hover {
  color: #1877f2;
}
#linkedin:hover {
  color: #0a66c2;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: rgb(233, 30, 30);
  background: linear-gradient(
    90deg,
    rgba(233, 30, 30, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* home page */

#home {
  margin: 0;
  padding: 0;
}
